body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40; }


a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover {
    color: #f05f40; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #F05F40 !important;
  /*color: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);*/
   }

/*strong{
  color: rebeccapurple;
}*/

.bg-primary {
  background-color: white !important;
/*background-color: #F05F40 !important; */
  
}

.bg-dark {
  background-color: #212529 !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 2rem 0; 
}

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #212529; }

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  box-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #f05f40; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #F05F40; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: #F05F40 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: #fff; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #fff; }
      #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #F05F40; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #f05f40; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #212529; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #F05F40; } }

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background:linear-gradient( rgba(0,0,0,0.7) , rgba(0,0,0,0.2)) ,url("../img/header.jpg");
  /*background: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%) , url("../img/header.jpg");*/
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(255,255,255,0.3);
   }
  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px; }
  header.masthead h1 {
    margin-right: 4em;
    font-size: 2rem; }
  header.masthead p {
    font-weight: 300; }
  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem; } }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0; }
      header.masthead h1 {
        font-size: 3rem; } }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 4rem; } }

ul.list {
  /*min-width: 696px;*/
  list-style: none;
  display: flex;
  padding-top: 20px;
  
  }
  ul.list li {
    display: inline-block;
    margin:0;
  }

  /*.submit{
      width: auto;
      height: 100%;
      background: red;
      border: none;
  }*/
/*input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 5px 10px 5px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

text-decoration-color: white;
color: white;
}
*/
.textbox {
    background: #F1F1F1 no-repeat;
    background-position: 5px -7px !important;
    padding: 30px 30px 30px 25px;
    width: 220px;
    border: 1px solid #CCC;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
}

.textbox:focus {
    background-color: #FFF;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
    box-shadow: 0 0 0 1px #E8C291 inset;
}

.Mapsection{
  min-height: 800px;
  padding: 3em;
}

#map{

  width: 90%;
  height: 600px;
  position:absolute;
}

.flight-card1{
  /*width:40% !important;   Only for return ticket*/
  margin: 10px;  
  padding: 25px; 
  box-shadow: 0 10px 40px -2px rgba(0, 0, 0, 0.3);
}

.Card{
  position: absolute;
  left:60%;
  
}
.Card.snap{
  width: 30%;
  background: #bbb;
  height: 600px;
  z-index: 10;
  position: absolute;
  box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 70px 80px -40px rgba(0, 0, 0, 0.4), 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.snap {
  width: 500px;
  height: 600px;
  background: #E85D5E;
  /*border-radius: 0 0 30px 30px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 90px -2px rgba(0, 0, 0, 0.3);
  position: relative;
}
.snap .tab-panel {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 70px;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 100;
}
.snap .tab-panel .tab {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
}
.snap .tab-panel .tab:nth-child(2) {
  position: relative;
}
.snap .tab-panel .tab:nth-child(2) .camera {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  margin-left: 20px;
  top: -60px;
  left: 25%;
  -webkit-transform: translate(, );
          transform: translate(, );
  z-index: 10;
  border: 5px solid #fff;
  border-radius: 50%;
}
.snap .active {
  width: 60px;
  height: 5px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 30px 30px 0 0;
  z-index: 100;
}
.snap .yellow {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  background: #ED994D;
  position: absolute;
  top: 0;
  right: -100%;
  -webkit-transform: translate(, );
          transform: translate(, );
}
.snap .blue {
  width: 100%;
  height: 100%;
  background: #24CEC2;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transform: translate(, );
          transform: translate(, );
}

.booking_input{
  color: black;
    background: white !important;
    border-radius: 20px !important;
    padding-left: 20px !important;
    padding-right: 0px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    width: 85% !important;
    margin-left: 20px !important;
}

.service-box {
  max-width: 400px; }

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto; }
  .portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(240, 95, 64, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        padding: 0 15px;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 18px; }
  .portfolio-box:hover .portfolio-box-caption {
    opacity: 1; }
  .portfolio-box:focus {
    outline: none; }
  @media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
      font-size: 16px; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
      font-size: 22px; } }

.text-primary {
  color: #F05F40 !important; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

.btn-xl {
  padding: 0.5rem 2rem; }

.btn-primary {
  height: 50px;
  background-color: #F05F40;
  border-color: #F05F40; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #ee4b28 !important; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important; }


.btn-light {
  height: 50px;
  color: black;
  background-color: white;
  border-color: #eee; }
  .btn-light:hover, .btn-light:focus, .btn-light:active {
    color: #F05F40;
    background-color: #eee !important; }
  .btn-light:active, .btn-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important; }


.btn-floating{
  box-shadow: none;
}

.NextStep{

  font-weight: 700;
  text-transform: uppercase;
  border: none;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  /*border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;*/
  height: 100%;
  transform: translateX(35em);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 

}
/*Fllight Filter styles*/
.col{
  flex-basis: initial !important;
}

.input-field label {
     color: black;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: white;
   }

ul.stepper.horizontal:before
{
  background-color: gainsboro;
  border-radius: 20px;
  box-shadow: none;
}
.switch label{
  color: #F05F40;
  font-size: 1.2em;
}

.total{
  width: 100%;
  margin: 20px;
  margin-right: 0;
  margin-left: 0;
  border-radius: 20px;
  display: none;
  transform: scale(1.13,1.2) translateY(33px);
}

.Travellers{
  transform: translateY(70px);
  background: white;
  height: 200px;
  width: 300px;
  box-shadow: 0 10px 90px -2px rgba(0, 0, 0, 0.3);

}
.Search{
  margin-top: 6em;
}

.fixed-action-btn{
  position: relative;
  width: 200px;
}

.fixed-action-btn ul {
  /*visibility: visible;*/
  position: relative;
  padding: 5px;
  margin-top: 85px;
  background: white;
  box-shadow: 0 10px 90px -2px rgba(0, 0, 0, 0.3);

}

.fixed-action-btn ul li{
  padding: 10px;
  width: 100%;
}

.counter{
  margin: 10px; 
  font-size: 2.2em;
}

.schedule{
  
}

.flight-time{
  border-radius: 20px; 
  padding: 6px; 
  padding-right: 15px; 
  padding-left: 15px;
}


.Eco:hover{
  /*display: none;*/
  cursor: pointer;
  background-color: #e53935 !important;
}

.Eco-fixed{
  background-color: #e53935 !important;
}

.Buss:hover{
  /*display: none;*/
  cursor: pointer;
  background-color: #0d47a1 !important;
}

.First:hover{
  /*display: none;*/
  cursor: pointer;
  background-color: #263238 !important;
}
.Eco:hover .Book{
  display: block !important;
}
.First:hover .Book{
  display: block !important;
}
.Buss:hover .Book{
  display: block !important;
}



/*Offers Section Styling*/





/*Credit Card styling*/
/******************************************************************/
/*Editable*/

/*--------------------
Buttons
--------------------*/
/*.btn {
  display: block;
  background: #bded7d;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
}
.btn::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 3px 0 transparent, 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.btn:hover::after {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}
*/
/*--------------------
Form
--------------------*/

li .myTab.active{
  border-bottom: 3px solid red !important;
  background: rgba(0,0,0,0.2);
  -webkit-transition: all 300ms ease-in-out;
  transition:         all 300ms ease-in-out;
}

.myTab{
  display: inline-block;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    text-transform: uppercase;
}

.form fieldset {
  border: none;
  padding: 0;
  padding: 1px 0;
  position: relative;
  clear: both;
}
.form fieldset.fieldset-expiration {
  float: left;
  width: 60%;
}
.form fieldset.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
}
.form fieldset.fieldset-ccv {
  clear: none;
  float: right;
  width: 86px;
}
.form fieldset label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Inconsolata;
}
.form fieldset input,
.form fieldset .select {
  width: 100%;
  height: 38px;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.form fieldset input.input-cart-number,
.form fieldset .select.input-cart-number {
  width: 82px;
  display: inline-block;
  margin-right: 8px;
}
.form fieldset input.input-cart-number:last-child,
.form fieldset .select.input-cart-number:last-child {
  margin-right: 0;
}
.form fieldset input.q,
.form fieldset .select.q {
  width: 82px;
  display: inline-block;
  margin-right: 8px;
}
.form fieldset input.q:last-child,
.form fieldset .select.q:last-child {
  margin-right: 0;
}

.form fieldset .select {
  position: relative;
}
.form fieldset .select::after {
  content: '';
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}
.form fieldset .select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  outline: none !important;
  top: 6px;
  left: 6px;
  background: none;
}
.form fieldset .select select :-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.form button {
  width: 100%;
  outline: none !important;
  background: -webkit-linear-gradient(top, #49a09b, #3d8291);
  background: linear-gradient(180deg, #49a09b, #3d8291);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-shadow: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
.form button .fa {
  margin-right: 6px;
}

/*--------------------
Checkout
--------------------*/
.checkout {
  margin: 110px auto 0px;
  position: relative;
  width: 460px;
  background: white;
  border-radius: 15px;
  padding: 137px 40px 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/*--------------------
Credit Card
--------------------*/
.credit-card-box {
  -webkit-perspective: 1000;
          perspective: 1000;
  width: 400px;
  height: 270px;
  position: absolute;
  top: -112px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.credit-card-box:hover .flip, .credit-card-box.hover .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.credit-card-box .front,
.credit-card-box .back {
  width: 400px;
  height: 250px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: -webkit-linear-gradient(315deg, #bd6772, #53223f);
  background: linear-gradient(135deg, #bd6772, #53223f);
  position: absolute;
  color: #fff;
  font-family: Inconsolata;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.credit-card-box .front::before,
.credit-card-box .back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/Cardbg.svg") no-repeat center;
  background-size: cover;
  opacity: .05;
}
.credit-card-box .flip {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}
.credit-card-box .logo {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 60px;
}
.credit-card-box .logo svg {
  width: 100%;
  height: auto;
  fill: #fff;
}
.credit-card-box .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.credit-card-box .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.credit-card-box .back .logo {
  top: 185px;
}
.credit-card-box .chip {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 20px;
  left: 20px;
  background: -webkit-linear-gradient(315deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  border-radius: 8px;
}
.credit-card-box .chip::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid rgba(128, 128, 128, 0.1);
  width: 80%;
  height: 70%;
  border-radius: 5px;
}
.credit-card-box .strip {
  background: -webkit-linear-gradient(315deg, #404040, #1a1a1a);
  background: linear-gradient(135deg, #404040, #1a1a1a);
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 0;
}
.credit-card-box .number {
  position: absolute;
  margin: 0 auto;
  top: 103px;
  left: 19px;
  font-size: 38px;
}
.credit-card-box .numberq {
  position: absolute;
  margin: 0 auto;
  top: 103px;
  left: 19px;
  font-size: 38px;
}

.credit-card-box label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}
.credit-card-box .card-holder,
.credit-card-box .card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 180px;
  left: 19px;
  font-size: 22px;
  text-transform: capitalize;
}
.credit-card-box .qholder,
.credit-card-box .card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 180px;
  left: 19px;
  font-size: 22px;
  text-transform: capitalize;
}

.credit-card-box .card-expiration-date {
  text-align: right;
  left: auto;
  right: 20px;
}
.credit-card-box .ccv {
  height: 36px;
  background: #fff;
  width: 91%;
  border-radius: 5px;
  top: 110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 10px;
}
.credit-card-box .ccv label {
  margin: -25px 0 14px;
  color: #fff;
}





.inspired-by {
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.paypal {
  position: relative;
  left: 50%;
  display: inline-block;
  /*min-width: 500px;*/
  max-width: 100%;
  width: 100%;
  /*margin: 50px auto 25px;*/
  /*padding: 20px 0;*/
  clear: both;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.paypal__header {
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;

  padding: 30px 30px 45px;
  background: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.paypal__logo-wrapper {
  flex: 1 0 40%;
}

.paypal__logo {
  display: block;
  width: 50px;
  height: auto;
  margin-left: 15px;
}

.paypal__header-info {
  flex: 1 0 50%;
}

.paypal__date,
.paypal__ref {
  display: block;
  font-size: 19px;
  color: #aaa;
  font-weight: 300;
}

.paypal__date {
  margin-bottom: 5px;
}

.paypal__subheader-wrapper {
  /*background: #fff;*/
  background: rgba(255 , 255 , 255 , 0.9);

  padding: 10px;
  border-left: 5px solid #029de0;

}

.paypal__subheader {
  padding: 0 45px 0 40px;
}

.paypal__username {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: 600;
}

.paypal__help-text {
  color: #aaa;
  font-weight: 300;
}

.paypal__cart {
  display: block;
  padding: 25px 30px 45px;
  padding-top: 0px !important;
  padding-bottom: 5px !important;


}

.paypal__cart-title {
  display: block;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}

.paypal__cart-list {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

.paypal__cart-item {
  display: block;
  padding-top: 2px;
  margin-bottom: 5px;
  border-top: 2px dashed #aaa;

  font-size: 18px;
}

.paypal__cart-item:first-child {
  border-top: 0;
}

.paypal__cart-item:last-child {
  margin-bottom: 0;
  border-top: 2px solid #FFE155;
}

.paypal__index {
  padding-right: 15px;
  color: #aaa;
  font-weight: 300;
}

.paypal__item-name {
  color: #aaa;
  font-weight: 300;
}

.paypal__item-price {
  float: right;
  letter-spacing: 1px;
}

.paypal__cart-total {
  font-size: 20px;
  text-transform: uppercase;
}

.paypal__footer {
  position: relative;
  padding: 30px 20px;
  border-top: 2px dashed #FF84A1;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.paypal__footer::before,
.paypal__footer::after {
  content: '';
  position: absolute;
  top: 0;
  border: 4px solid transparent;

  -webkit-transform: translateY(calc(-50% - 1px));
  -ms-transform: translateY(calc(-50% - 1px));
  -o-transform: translateY(calc(-50% - 1px));
  transform: translateY(calc(-50% - 1px));
}

.paypal__footer::before {
  left: 0;
  border-left: 7px solid #ff85a1;
}

.paypal__footer::after {
  right: 0;
  border-right: 7px solid #ff85a1;
}

.paypal__barcode {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
}

/**
 * Paypal Animations
 */

@keyframes show-paypal {
 0% {
   opacity: 0;
   transform: scale(0) translateX(-50%);
 }

 85% {
   opacity: 0;
 }

 100% {
   opacity: 1;
   transform: scale(1) translateX(-50%);
 }
}

.paypal {
  transform-origin: top left;
  animation: show-paypal 1s ease-out forwards;
}

@keyframes show-subheader {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.paypal__subheader {
  opacity: 0;
  animation: show-subheader 1s 0.5s ease-out forwards;
}

@keyframes slide-down {
  to {
    transform: perspective(100px) rotateX(0) translate3d(0, 0, 0);
  }
}

.paypal__cart {
  background-color: #fff;

  transform-style: preserve-3d;
  transform-origin: top center;
  transform: perspective(100px) rotateX(-90deg) translate3d(0, 0, 0);

  animation: slide-down 0.4s 2s ease-out forwards;
}

.paypal__footer {
  background-color: #fff;

  transform-style: preserve-3d;
  transform-origin: top center;
  transform: perspective(100px) rotateX(-90deg) translate3d(0, 0, 0);

  animation: slide-down 0.4s 2.5s ease-out forwards;
}

@keyframes show-cart-title {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.paypal__cart-title {
  opacity: 0;
  transform: translateY(10px);

  animation: show-cart-title 0.5s 2.25s ease-in forwards;
}

@keyframes show-cart-item {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.paypal__cart-item {
  opacity: 0;
  transform: translateX(-30px);

  animation: show-cart-item 0.3s 2.75s ease-in forwards;
}

.paypal__cart-item:nth-child(2) {
  animation-delay: 2.9s;
}

.paypal__cart-item:nth-child(3) {
  animation-delay: 3.05s;
}

.paypal__cart-item:nth-child(4) {
  animation-delay: 3.2s;
}




